<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 <link rel="stylesheet" href="/see.css">
</head>
<body>
  <style>
  

    .card {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 50px;
    }

    .content {
        float: right;
        width: 75%;
        padding: 20px;
    }

    .btn {
        background-color: black;
        color: white;
        padding: 10px 20px;
        margin-top: 10px;
        margin-right: 10px;
        border: none;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #333;
    }
    h3{
    text-align: center;
   }
   li{
    padding: 5px;
   }
    .reviews {
        clear: both;
        margin-top: 40px;
        padding-top: 20px;
    }

    .description {
            max-width: 550px;
            word-wrap: break-word;
        }

 
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary " style="line-height: 40px;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/all">  <div class="logo"><img
      src="https://th.bing.com/th/id/OIP.k-rmZkQ6MkGsODaMF6zqsAHaHa?pid=ImgDet&rs=1"
      height="50" width="55"></div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon " ></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0"style="font-size: 20px;">
          &nbsp;  &nbsp;  &nbsp;  &nbsp;  
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/home" style="color: black;">Home</a>
        </li>
        &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <li class="nav-item">
          <a class="nav-link active" href="/all" style="color: black;">Products</a>
        </li>
      </ul></div>
      <div class="container-fluid-right"><ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 17px;">
          &nbsp;  &nbsp;  &nbsp;
        <i class="fas fa-shopping-cart mt-3   " style="color: black"></i></i>
        
        <li class="nav-item">
    
          <a class="nav-link" href="/cart"style="color: black;">Cart</a>
        </li>
        &nbsp;  &nbsp;  &nbsp;
        <i class="fa-regular fa-heart  mt-3 " style="color: #c60c3a; "></i>
        
        <li class="nav-item  ms-10">
          
          <a class="nav-link" href="/wishlist" style="color: black;">Wishlist</a>
        </li>
        &nbsp;  &nbsp;  &nbsp;
        <li class="nav-item ">
          <a class="nav-link active" href="/lander" style="color: black;">Logout</a>
        </li></ul></div>
       
       
    
    </div>
  </div>
</nav>

    <h2 style="margin: 50px;"><%=pdt.name%></h2>
    <div class="card" style="width: 18rem;">
        <img src="<%=pdt.image%>" class="card-img-top" alt="...">
        
      </div>
       <div class="content" >
       
        <li class="description"><%= pdt.description %></li>
        <li>&#8377; <%= parseFloat(pdt.price).toLocaleString("en-IN") %></li>
        <li><%= pdt.type %></li>
        <li id="availability"><%= pdt.availability %></li>
        <li><%= pdt.review %></li>
            <!-- <a href="/cart?name=<%= pdt.name %>&id=<%= pdt._id %>&price=<%= pdt.price %>&image=<%= pdt.image %>"> -->
              <div class="size-selection" style="display: none;">
                <li><label for="size">Select Size:</label>
                <select id="size" name="size">
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select></li>
            </div>
    </div>
    <div class="content">
      <a  style="width: 120px ;" href="/cart?name=<%= pdt.name %>&id=<%= pdt._id %>&price=<%= pdt.price %>&image=<%= pdt.image %>"
        onclick="updateAvailability()">
         <button class="btn btn-primary">Add to cart</button>

          </a>
    <br>
          <a href="/wishlist?name=<%= pdt.name %>&id=<%= pdt._id %>&price=<%= pdt.price %>&image=<%= pdt.image %>">
  <button class="btn btn-primary">Add to Wishlist</button>
</a>
  </div>
    </div >
    
    <div class="reviews">
      <hr>
    <h3 >All Reviews</h3>
   
   <ul>
   <% for(ratings of pdt.rating) {%>
   <li><%=ratings.comment%></li>
  <%}%>
</ul>
    <hr>

    <div class="col-8 offset-2">
      <h4>Leave a Review</h4>
      <form class="mb-3" method="POST" action="/all/<%=pdt._id%>/rating" novalidate="needs-validation">
        <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="rating[rat]" required >
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
       <textarea name="rating[comment]" id="comment" cols="50" rows="5" class="form-control" required></textarea>
      </div>
      <button class=" btn btn-outline-dark">Submit</button>
    </form>
    </div>
    </form>
    <hr>
</div>
  
</div>
    <footer>
        <div class="contact" id="contacts">
            <h2>Contact Us</h2>
            <p>Feel free to get in touch with us for any inquiries.</p>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f fa-2x" style="color: #000;"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x" style="color: #000;"></i></a>
            <a href="#"><i class="fas fa-envelope fa-2x" style="color: #000;"></i></a>
        </div>
        <div class="center">
            Copyright &copy; www.flexmart.com. All rights reserved!
        </div>
    </footer>
<script>
  function updateAvailability() {
            const availabilityElement = document.getElementById('availability');
            if (availabilityElement) {
                const currentAvailability = parseInt(availabilityElement.textContent);
                if (!isNaN(currentAvailability) && currentAvailability > 0) {
                    availabilityElement.textContent = currentAvailability - 1; 
                }
            }
        }
        window.onload = function() {
    const productType = "<%= pdt.type %>";
    const sizeSelection = document.querySelector('.size-selection');
    const sizeOptions = document.querySelector('#size');

    if (productType === 'Apparel') {
    
        sizeSelection.style.display = 'block';
        
        sizeOptions.innerHTML = `
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        `;
    } else if (productType === 'Footwear') {
        
        sizeSelection.style.display = 'block';
        
        sizeOptions.innerHTML = `
            <option value="UK 6">UK 6</option>
            <option value="UK 7">UK 7</option>
            <option value="UK 8">UK 8</option>
            <option value="UK 9">UK 9</option>
            <option value="UK 10">UK 10</option>
            <option value="UK 11">UK 11</option>
        `;
    } else if (productType === 'supplements') {
    
        sizeSelection.style.display = 'block';
      
        sizeOptions.innerHTML = `
            <option value="50g">50g</option>
            <option value="100g">100g</option>
            <option value="150g">150g</option>
            <option value="200g">200g</option>
            <option value="500g">500g</option>
            <option value="1kg">1kg</option>
        `;
    }  
    else if (productType === 'Strength') {
  
        sizeSelection.style.display = 'block';
       
        sizeOptions.innerHTML = `
            <option value="2.5kg">2.5kg</option>
            <option value="5kg">5kg</option>
            <option value="10kg">10kg</option>
            <option value="15kg">15kg</option>
            <option value="20kg">20g</option>
            <option value="25kg">25kg</option>
        `;
    }  
    else {
        
        sizeSelection.style.display = 'none';
    }
};
</script>
</body>
</html>
